{% extends 'base.html.twig' %}

{% block body %}

	<div class="row mt-3">
    	{% include 'include/_flashes.html.twig' %}
		<div class="col-6 mt-4">

			<h3 class="text-center h4">Mes Commentaires en ligne</h3>

			<table class="table table-bordered">

				<thead class="table-info text-center">
					<tr>
						<th>contenu</th>
						<th>Posté sur</th>
						<th>Créer le</th>
						<th>Nombre de<br>commentaires</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% if commentaries is not empty %}

					{% set countIn = 0 %}
                {% set countOut = 0 %}

						{% for commentary in commentaries %}
							{% if commentary.deletedAt is null %}
								{% set countIn = countIn +1 %}

								<tr class="text-center">
									<td>{{ commentary.comment|slice(0,15)}}</td>
									<td>{{ commentary.article.title |slice(0,15)}}</td>
									<td>{{ commentary.createdAt | date('d/m/Y') }}</td>
									{# <td>{{ total }}</td> #}
									<td>{{ totalInline }}</td>
									{# <td>{{ commentaries is not empty ? commentaries | length : '0' }}</td> #}
									<td>
										<a href="{{ path('soft_delete_commentary', {'id': commentary.id}) }}" class="btn btn-danger" title="Archiver son commentaire">
											<i class="fa-solid fa-box-archive"></i>
										</a>
									</td>
								</tr>
								{% else %}
								{% set countOut = countOut + 1 %}
							{% endif %}
						{% endfor %}
					{% endif %}

				</tbody>
			</table>

		</div>

		<div class="col-6 mt-4">

			<h3 class="text-center h4">Mes Commentaires archivés</h3>

			<table class="table table-bordered">

				<thead class="table-info text-center">
					<tr>
						<th>contenu</th>
						<th>Posté sur</th>
						<th>Créer le</th>
						<th>Nombre de<br>commentaires</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% if commentaries is not empty %}
						{% for commentary in commentaries %}
							{% if commentary.deletedAt is not null %}

								<tr class="text-center">
									<td>{{ commentary.comment|slice(0,15)}}</td>
									<td>{{ commentary.article.title |slice(0,15)}}</td>
									<td>{{ commentary.createdAt | date('d/m/Y') }}</td>
									{# <td>{{ countOut }}</td> #}
									<td>{{ totalArchived }}</td>
									<td>
										<a href="{{ path('restore_commentary', {'id': commentary.id}) }}" class="btn btn-info" title="Restaurer son commentaire">
											<i class="fa fa-trash-restore"></i>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endif %}

				</tbody>
			</table>
			
		</div>
		<p>total {{ countOut }}</p>
	</div>
	

{% endblock %}
